.popup {
    /* position: absolute; */
    overflow-y: hidden;
    inset: 0;
    position: fixed;
    align-content: center;

    opacity: 1;

    & img {
        width: auto;
        height: 100%;
    }

    &:hover {
        cursor: pointer;
    }

    & div {
        display: flex;
        gap: 1px;
        overflow: hidden;
    }


}