.film {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: rgb(246, 242, 250);
   

    & fieldset {
        width: 50px;
        display: flexbox;
    }
    
    & fieldset:hover {
        cursor: pointer;
    }

}

